:root{
    --nav-background-color: #DC144F;
    --nav-text-color: white;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#app{
    display: flex;
    flex-direction: column;
}

/* Header */
header{
    height: 12vh;
    width: 100%;
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-buttons > li{
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--nav-text-color);
    margin-inline: 1.5rem;
    text-transform: uppercase;
}
.nav-buttons > li:hover{
    border-bottom: 2px solid var(--nav-text-color);
    padding-bottom: 5px;
}

main {
    margin: 0 auto;
    padding-block: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100vw;
    min-height: calc(100vh - 12vh - 1rem - 24px);
    display: flex;
    justify-content: center;
    overflow: scroll;
}

#content{
    max-width: 960px;
    padding: 1rem;
    max-width: 700px;
    min-width: 250px;
    width: 100vw;
}


/* Home */
.home-title{
    font-size: 3.5rem ;
    text-align: center;
}

.home-description{
    font-size: 2rem;
}


/* Contact */
.info{
    text-align: left;
    font-size: 1.5rem;
}


#form{
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.row{
    display: flex;
    flex-direction: column;
}



.input{
    height: 3rem;
    font-size: 2rem;
}

#msg-input{
    height: 100px; /* Set a fixed height */
    resize: vertical; /* Allow horizontal resizing */
    overflow: scroll; 
    font-size: 0.8rem;
}



/* Footer */
footer{
    background-color: var(--nav-background-color);
    font-size: 1rem;
    color: var(--nav-text-color);
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 0;
    letter-spacing: 0 1rem;
}