:root{
    --nav-background-color: #DC144F;
    --nav-text-color: white;
    --main-background-color: #e7e5e4;
    --item-background-color: #fafaf9;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2{
    font-size: 2rem;
}

/* Header */
header{
    height: 12vh;
    width: 100%;
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-buttons > li{
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--nav-text-color);
    margin-inline: 1.5rem;
    text-transform: uppercase;
}
.nav-buttons > li:hover{
    border-bottom: 2px solid var(--nav-text-color);
    padding-bottom: 5px;
}

main {
    margin: 0 auto;
    flex: 1;
    padding-block: 20px;
    background-color: var(--main-background-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

#content{
    padding: 1rem;
    max-width: 700px;
    min-width: 250px;
    width: 100vw;
}



/* Home */
.home-title{
    font-size: 3.5rem ;
    text-align: center;
}

.home-description{
    font-size: 2rem;
}


/* Contact */
.info{
    text-align: left;
    font-size: 1.5rem;
}


#form{
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.row{
    display: flex;
    flex-direction: column;
}

#submit{
    margin-bottom: 1.2rem;
}

.input{
    height: 3rem;
    font-size: 1rem;
    min-width: 450px;
}

#msg-input{
    height: 100px; /* Set a fixed height */
    resize: vertical; /* Allow horizontal resizing */
    overflow: scroll; 
    font-size: 1rem;
    min-width: 450px;
}


/* Menu */
.items{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: var(--item-background-color);
    border: grey 2px solid;
}

.item-name,
.item-cost{
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
}

.item-description{
    font-size: 1rem;
    color: gray;
    overflow: hidden;
}



/* Footer */
footer{
    background-color: var(--nav-background-color);
    font-size: 1rem;
    color: var(--nav-text-color);
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 0;
    letter-spacing: 0 1rem;
}